html,body,div,p,a,span,img,ol,ul,li,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
body{
    font-size: 12px;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear:after{

    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
/* 用户复制的时候背景色和字体的颜色 */
::selection{
    background-color: #ddd;
    color: #e60012;
}
.top{
    width: 100%;
    height: 730px;
    background: url(../images/home_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}
.topnav{
    width: 1200px;
    height: 56px;
    margin: 0 auto;
}
.topnav h1{
    width: 300px;
    height: 56px;
    margin-right: 112px;
    float: left;
}
.topnav ul{
    width: 648px;
    height: 46px;
    float: left;
    margin-right: 52px;
    border-top: 1px solid #ccc5d2;
    border-bottom: 1px solid #ccc5d2;
}
.topnav ul li{
    float: left;
    font-size: 16px;
}
.topnav ul li a{
    color: #fff;
    display: block;
    padding:11px 37px;
}
.topnav ul li a:hover{
    color: #e60012;
}
.topnav .sousuo{
    width: 24px;
    height: 35px;
    background:url(../images/sousuo01.jpg) no-repeat;
    float: left;
    margin-right: 26px;
    margin-top: 14px;
}
.sousuo a{
    display: block;
    width: 24px;
    height: 35px;
}
.sousuo:hover{
    background: url(../images/sousuo.jpg) no-repeat;
}
.topnav .gengd{
    width: 28px;
    height: 35px;
    background: url(../images/gengd01.jpg) no-repeat;
    float: left;
    margin-top: 14px;
}
.gengd a{
    display: block;
    width: 28px;
    height: 35px;
}
.gengd:hover{
    background: url(../images/gengd.jpg) no-repeat;
}
.banner{
    width: 1060px;
    height: 213px;
    margin: 160px auto;
}
.banner h1{
    color: #fff;
    font-size: 48px;
}
.banner h2{
    color: #fff;
    font-size: 33px;
    font-weight: normal;
    margin-bottom: 11px;
}
.banner p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.banner .teshu{
    display: block;
    width: 150px;
    height: 40px;
    background: url(../images/bg_more_01.jpg);
    color: #515151;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.teshu:hover{
    background: url(../images/bg_more_03.jpg);
}
/* 以上是导航和banner图部分 */
.contentup{
    width: 1200px;
    height: 412px;
    margin: auto;
}
.contentup h1{
    font-size: 32px;
    color: #000;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.contentup p{
    text-align: center;
    font-size: 14px;
    color: #515151;
}
.contentup ul{
    width: 1200px;
    height: 261px;
    margin-top: 65px;
}
.contentup li{
    padding-top: 116px;
    width: 280px;
    background:url(../images/ly_1.jpg) no-repeat;
    background-size: 280px 166px;
    position: relative;
    float: left;
}
.contentup li div{
    position: relative;
    width: 196px;
    background-color: #fff;
   padding: 16px 22px;
   margin:0 auto;
}
.contentup li div h4{
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 10px;
    color: #515151;
}
.contentup li div h2 p{
    font-size: 12px;
    color: #000;
    text-align: left;
}
.contentup .teshu01{
     background:url(../images/ly_2.jpg) no-repeat;
    background-size: 280px 166px;
    margin-left: 27px;
}
.contentup .teshu02{
     background:url(../images/ly_3.jpg) no-repeat;
    background-size: 280px 166px;
     margin-left: 27px;
}
.contentup .teshu03{
     background:url(../images/ly_4.jpg) no-repeat;
    background-size: 280px 166px;
     margin-left: 26px;
}
/* 以上是中间内容部分 */
.footer{
    width: 100%;
    height: 592px;
    background-color: #fbfbfb;
    margin-top: 56px;
}
.footercenter{
    width: 1200px;
    height: 592px;
    margin:auto;
    text-align: center;
}
.footercenter h1{
    font-size: 32px;
    color: #000;
    font-weight: normal;
    padding-top: 40px;
}
.footercenter p{
    color: #515151;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 23px;
}
.teshu04 ul{
    height: 40px;
    width: 140px;
    margin:auto;
}
.teshu04 ul li{
    background: url(../images/dian.jpg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    float: left;
    padding-right: 10px;
    vertical-align: middle;
}
.teshu04 ul li a{
    display: block;
    width: 10px;
    height: 10px;
}
/* 链接问题或者js问题 */
.teshu04 ul li:visited{
    background-color: #515151;
    width: 10px;
    height: 10px;
}
.footercontent{
    width: 1200px;
    height: 420px;
    margin-top: 10px;
}
.footercontent ul li{
    width: 390px;
    height: 360px;
    float: left;
}
.footercontent ul li .teshu05{
    display: block;
    width: 390px;
    height: 170px;
    background: url(../images/2-1473241527604.jpg) no-repeat;
}
.footercontent ul li .teshu06{
    display: block;
    width: 390px;
    height: 170px;
    background: url(../images/2-1473240989309.jpg) no-repeat;
}
.footercontent ul li .teshu07{
    display: block;
    width: 390px;
    height: 170px;
    background: url(../images/2-1473240591950.jpg) no-repeat;
}
.footercontent ul li .footercontent01{
    width: 390px;
    height: 150px;
}
.footercontent02{
    width: 350px;
    height: 150px;
    margin: 20px;
    text-align: left;
}
.footercontent02 a{
    border: 1px solid #000;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #000;
}
.footercontent02 a:hover{
    background-color: #a0a0a0;
    color: #fff;
    border: 0;
    width: 102px;
    height: 32px;
}
.footercontent02 h3{
    font-size: 24px;
    font-weight: 900;
    font-family: Impact,fantasy,arial,sans-serif;
}
.footercontent02 span{
    font-size: 18px;
    color: #000;
}
.footercontent02 p{
    font-size: 12px;
    color: #000;
}
/* 底部信息部分 */
.down{
    width: 100%;
    height: 193px;
    background-color: #e9e9e9;
}
.downcenter{
    width: 1200px;
    height: 193px;
    margin: auto;
}
.downcenter ul{
    width: 180px;
    height: 126px;
    color: #555;
    padding-top: 25px;
    float: left;
}
.downcenter ul li h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.downcenter ul li{
    margin-bottom: 8px;
}
.downcenter ul li a{
    font-size: 12px;
    color: #555;
}
.downcenter ul li a:hover{
    color: #e60012;
}
.downfooter{
    width: 270px;
    height: 121px;
    float: right;
    margin-top: 45px;
    color: #555;
    font-size: 12px;
}
.downfooter p{
    margin-bottom: 5px;
}
.downfooter .wb{
    display: block;
    width: 32px;
    height: 32px;
    background:url(../images/wb.jpg) no-repeat;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.downfooter .wb:hover{
    background: url(../images/wb01.jpg) no-repeat;
    width: 32px;
    height: 32px;
}
.downfooter .wx{
    display: block;
    width: 32px;
    height: 32px;
    background:url(../images/wx.jpg) no-repeat;
    float: left;
    margin-top: 10px;
}
.downfooter .wx:hover{
    background: url(../images/wx01.jpg) no-repeat;
    width: 32px;
    height: 32px;
}
.down01{
    width: 1200px;
    height: 61px;
    margin: 0 auto;
}
.down01 span{
    line-height: 61px;
    font-size: 12px;
    color: #555;
    padding-right: 46px;
}